#change-scene {
  cursor: pointer;

  padding: 10px 20px;
  border: none;
  border-radius: 8px;

  font-size: 20px;
  color: white;
  text-align: center;

  background: linear-gradient(45deg, #6a11cb, #2575fc);

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
